name: Build and Deploy Pygame
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install pygbag
      run: python -m pip install pygbag
    - name: Build Game
      run: python -m pygbag --build $GITHUB_WORKSPACE/game/main.py
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: game/build/web
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
